{% extends 'ucp.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/offline.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>{{ viewpoint.title }}</h1>

    {% if viewpoint_error %}
    <div class="alert-danger">
        An error occured: {{ viewpoint_error.message }}
    </div>
    {% endif %}

    {{ viewpoint.description|e|viewpoint_format|raw }}
{% endblock %}

{% block left_content %}
    {% for ag in viewpoint.actionGroups %}
        {% if ag.id == "lotgd/core/hidden" %}
        {% elseif ag.id == "lotgd/core/default" %}
        {% else %}
            <h6 class="nav-header text-secondary" title="{{ ag.id }}">{{ ag.title }}</h6>
        {% endif %}

        <nav class="nav flex-column">
            {% for a in ag.actions %}
                <span class="nav-item">
                    <a class="nav-link" href="{{ path('scene_view', {'charId': character.id, 'action': a.id}) }}">
                        {% if a.title is empty %}
                            ???
                        {% else %}
                            {{ a.title }}
                        {% endif %}
                    </a>
                </span>
            {% endfor %}
        </nav>
    {% endfor %}
{% endblock %}

{% macro progressBar(val, max, min=0) %}
    <div class="progress" style="height: 1.5em">
        <div class="progress-bar" role="progressbar"
             style="width: {{ val/max*100|e }}%;" aria-valuenow="{{ val|e }}" aria-valuemin="{{ min|e }}" aria-valuemax="{{ max|e }}"
        >{{ val|e }}/{{ max|e }}</div>
    </div>
{% endmacro %}
{% import _self as macro %}

{% block right_content %}
    {% if character_stats %}
        <table class="table small">
            {% for group in character_stats.iterate %}
                <tr class="table-primary"><th colspan="2">{{ group.name }}</th></tr>

                {% for item in group.iterate %}
                    {% if item is instanceOf("LotGD\\Module\\Res\\CharStats\\CharacterStats\\ProgressBarCharacterStat") %}
                        <tr><td>{{ item.name }}</td><td> {{ macro.progressBar(item.value, item.max, item.min) }}</td></tr>
                    {% elseif item is instanceOf("LotGD\\Core\\Models\\CharacterStats\\BaseCharacterStat") %}
                        <tr><td>{{ item.name }}</td><td> {{ item.value }}</td></tr>
                    {% else %}
                        <tr><td>{{ item.name }}</td><td> {{ item.valueAsString }}</td></tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <p> You are playing {{ character.displayName }}</p>
    {% endif %}
{% endblock %}