{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/offline.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="content-center">
        <p>Welcome user {{ user.displayname }}.</p>

        {{ include("panels/characterpanel.html.twig", {
            'realm': realm,
            'user': user,
        }) }}
    </div>
{% endblock %}

{% block nav_homelink %}
<li class="nav-item {{ (app.request.pathInfo == path("ucp_root")) ? "active":"" }}">
    <a class="nav-link" href="{{ path("ucp_root") }}">Home{{ (app.request.pathInfo == path("ucp_root")) ?'<span class="sr-only">(current)</span>':''}}</a>
</li>
{% endblock %}

{% block navigation %}
    {% if is_granted("ROLE_SUPERUSER") %}
    <li class="nav-item {{ (app.request.pathInfo == path("admin")) ? "active":"" }}">
        <a class="nav-link" href="{{ path("admin") }}">Administration{{ (app.request.pathInfo == path("admin")) ?'<span class="sr-only">(current)</span>':''}}</a>
    </li>
    {% endif %}
{% endblock %}

{% block nav_rest %}
    <div class="navbar-nav">
        <a class="nav-link" href="{{ path("signoff") }}">Sign out</a>
    </div>
{% endblock %}